.GitHubContributions{
    width: 100vw;
    height: 60vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.GitHubContributions-container{
    width: auto;
    height: 50vh;
    background-color: var(--Card-bg);
    border-radius: 10px;
    font-display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    align-items: center;
}
.github-repo{
    height: auto;
    width: auto;
    font-display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    font-family: "Roboto", sans-serif;
}
.github-h2{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 992px) {
    .GitHubContributions-container{
        width: 90vw;
    }
}

