.Navbar{
    width: 20rem;
    height: 100vh;
    background-color: var(--nav-bg);
    position: absolute;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.theme-btn{
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--theme-btn);
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}
.theme-btn svg{
    font-size: 25px;
}
.Nav-overlay{
    width: 100vw;
    position: fixed;
    height: 100vh;
    z-index: 999;
    background-color: var(--overlay-color);
}
.Nav-Open-btn{
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 30px;
    height: 30px;
    background-color: var(--nav-open-btn);
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
}
.Nav-Open-btn:hover{
    background-color: var(--nav-open-hover-btn);
}
.Nav-Open-btn svg{
    font-size: 1.5rem;
}

.Nav-Close-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--theme-btn);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.Nav-Close-btn:hover, .theme-btn:hover{
    background-color: var(--nav-hover-btn);
}
.Nav-Close-btn svg{
    font-size: 10px;
}
.nav-list{
    left: 0;
    width: 100%;
}
.nav-list div{
    height: 3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.nav-list div:hover{
    background-color: var(--navlist-hover) ;
}
.nav-list div p{
    margin-left: 1rem;
}
